기존 로고나 아래에 있는 바는 똑같음 카드 컴포넌트 만들어서 세팅하면 될거 같음

전체 카드 프레임.Vector {
  width: 345px;
  height: 560px;
  margin: 23px 24px 65px;
  padding: 14px 61px 160px 21px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

투자의 첫 걸음.\- {
  width: 263px;
  height: 72px;
  margin: 0 0 20px;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-align: left;
  color: #252525;
}

캐릭터.Ellipse-2 {
  width: 172.8px;
  height: 172.8px;
  margin: 0 19.2px 2.2px 0;
  padding: 11px 11px 11px 3.4px;
  transform: rotate(-315deg);
  background-image: linear-gradient(225deg, #ffa04d 75%, #ffce4d 25%);
}

예상 투자금.\- {
  width: 64px;
  height: 22px;
  margin: 0 23px 0 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: left;
  color: #a9a9a9;
}

5만원span {
  width: 87px;
  height: 32px;
  margin: 22px 0 0;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.2px;
  text-align: left;
  color: #252525;
}

도착지span {
  width: 37px;
  height: 22px;
  margin: 0 54px 0 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: left;
  color: #a9a9a9;
}

미국 기술주span {
  width: 37px;
  height: 22px;
  margin: 0 54px 0 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: left;
  color: #a9a9a9;
}

체크인하기 버튼.Rectangle-34624683 {
  width: 160px;
  height: 36px;
  margin: 0 25px 18px 24px;
  padding: 2px 34px 2px 35px;
  border-radius: 8px;
  background-color: #dee0fa;
}

체크인 하기.\- {
  width: 91px;
  height: 32px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.2px;
  text-align: center;
  color: #545fe8;
}

구분선.Vector-3695 {
  width: 308.2px;
  height: 1px;
  margin: 0 18.8px 155.5px 13.8px;
  background-color: #c0c0c0;
}

닉네임 님이 원하는 [미국 기술주] 투자를 
가장 쉽게 시작하는 방법이에요.\- {
  width: 209px;
  height: 44px;
  margin: 18px 0 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #656565;
}

스타트 챌린지 건너뛰기 버튼.Rectangle-34624683 {
  width: 110px;
  height: 18px;
  margin: 16px 118px 0 112.8px;
  padding: 0 9px 0 10px;
  border-radius: 4px;
  border: solid 0.5px #cbcbcb;
  background-color: #dedede;
}

건너뛰기.\- {
  width: 91px;
  height: 18px;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: -0.1px;
  text-align: center;
  color: #595959;
}