뒤로가기 .ionchevron-back-outline {
  width: 24px;
  height: 24px;
  margin: 23px 132px 0 24px;
  padding: 5.3px 8.6px;
  background-color: #edeef2;
}

캐릭터 프로필 .Mask-group {
  width: 32px;
  height: 32px;
  margin: 17px 112px 2px 24px;
  padding: 1.7px 0 0 1px;
}

말풍선 .Rectangle-34624690 {
  width: 330px;
  height: 90px;
  padding: 12px 9px 12px 10px;
  border-radius: 8px;
  background-color: #d9d9d9;
}

말풍선 꼬리.Polygon-2 {
  width: 25px;
  height: 25px;
  margin: 2px 119px 98px 24px;
  border-radius: 2px;
  background-color: #d9d9d9;
}

기본 텍스트
안녕하세요, 기비 님!
스타트 챌린지를 시작하기 전에 궁궁한 점을 알려드릴게요.
하단의 질문들을 눌러보세요!

내부 글씨 14px

usernickname 님 (나).\- {
  width: 56px;
  height: 18px;
  margin: 24px 24px 2px 4px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.12px;
  text-align: left;
  color: #6f6f6f;
}

말풍선 꼬리.Polygon-2 {
  width: 25px;
  height: 25px;
  margin: 2px 24px 55px 35px;
  transform: rotate(-180deg);
  border-radius: 2px;
  background-color: #d9d9d9;
}

말풍선 .Rectangle-34624690 {
  width: 161px;
  height: 46px;
  padding: 12px 11px 12px 16px;
  transform: rotate(-180deg);
  border-radius: 8px;
  background-color: #d9d9d9;
}

질문 버튼 프레임 스타일 .Frame-2 {
  width: 208px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0 104px 8px 0;
  padding: 3px 16px;
  border-radius: 40px;
  border: solid 1px #d9d9d9;
}

질문 1계좌가 없는데 진행할 수 있나요?.\- {
  width: 176px;
  height: 22px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #666;
}

질문 1 대답 

걱정 마세요!
가장 쉽고 빠르게 만드는 '3분 계좌 개설 꿀팁'을 알려드려요.
신분증만 있으면 지금 바로 만들고 시작할 수 있어요!



질문 2스타트 챌린지가 뭐에요?.\- {
  width: 134px;
  height: 22px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #666;
}

질문 2 대답

메이트님을 위한 '맞춤형 첫 투자 미션'이에요.
복잡한 과정은 싹 빼고, 
'무엇을, 어떻게' 해야 하는지만 딱 짚어 드릴게요.
즐거운 도전을 시작해 볼까요?

질문 3 완료하면 보상이 있나요?.\- {
  width: 134px;
  height: 22px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #252525;
}

질문 3 대답

그럼요! 
챌린지를 성공하면 '집사 노트'와 '가이드'가 선물로 열려요.
그리고 내 자산이 쑥쑥 자라나는 
'미래 대시보드'도 바로 확인할 수 있어요!

질문 4 얼마나 소요되나요?.\- {
  width: 106px;
  height: 22px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #252525;
}

질문 4 대답 

딱 5분이면 충분해요!
복잡한 절차는 제가 다 뺐거든요.
출퇴근길이나 자기 전에 가볍게 '성공'만 챙겨가세요.

질문 5 초보자도 할 수 있나요?.\- {
  width: 33px;
  height: 22px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #252525;
}

질문 5 대답 

당연하죠!
기비는 금융 초보 메이트님을 위해 준비했어요.
어려운 용어 하나 없이, 그냥 따라만 하면 무조건 성공하도록
아주 쉽게 알려드릴게요.

질문 다 진행할 시 나오는 말풍선

이제 시작해볼까요?그리거

스타트 챌린지 시작하기 버튼 .\- {
  width: 106px;
  height: 22px;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.14px;
  text-align: center;
  color: #252525;
}

스타트 챌린지 시작하기.\- {
  width: 144px;
  height: 24px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.16px;
  text-align: center;
  color: #fff;
}